name: CI para Desarrollo

on:
  push:
    branches: [ dev-api ]

jobs:
  test-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repositorio
        uses: actions/checkout@v3

      - name: Configuraci贸n de Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalaci贸n de dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest flake8

      - name: Ejecuci贸n de tests
        run: pytest

      - name: Ejecuci贸n de linter
        run: flake8 app